Source: ros-jazzy-raspimouse-gazebo
Section: misc
Priority: optional
Maintainer: RT Corporation <shop@rt-net.jp>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-controller-manager, ros-jazzy-diff-drive-controller, ros-jazzy-joint-state-broadcaster, ros-jazzy-raspimouse-description, ros-jazzy-raspimouse-fake, ros-jazzy-robot-state-publisher, ros-jazzy-ros-gz, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-raspimouse-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-controller-manager, ros-jazzy-diff-drive-controller, ros-jazzy-joint-state-broadcaster, ros-jazzy-raspimouse-description, ros-jazzy-raspimouse-fake, ros-jazzy-robot-state-publisher, ros-jazzy-ros-gz, ros-jazzy-ros-workspace
Description: The raspimouse_gazebo package
