Source: ros-jazzy-raspimouse-sim
Section: misc
Priority: optional
Maintainer: RT Corporation <shop@rt-net.jp>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-raspimouse-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-raspimouse-fake, ros-jazzy-raspimouse-gazebo, ros-jazzy-ros-workspace
Description: ROS 2 package suite for Raspberry Pi Mouse Simulator
